<!doctype html>
<html >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Bootstrap CSS -->
{% load static %}
    <link rel="stylesheet" href="{%static 'bootstrap.min.css' %}">
    <style>
      .border{
      border: 5px solid blue;
    }
      .bar{
        background-color:#0059FF;
        font-display: white;
      }
      a {
    color: Black;
    style:bold;
    text-decoration: underline;
        }
    </style>
  </head>
<body>
	<nav class="navbar navbar-expand-md  bar">
    {% load static %}
 <div class="navbar-brand" >   <img src="{% static  'photos/6.jpg' %}" width="40" height="40"/><span> News </span> </div>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" >
	 <span class="navbar-toggler-icon"></span>
 <div class="collapse navbar-collapse" id="navbarNav">
   Welcome
 </div>
</nav>
<div class="container">
<div class="row">
<div class=" col-8">
  <br/>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
 <ol class="carousel-indicators ">
   <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" ></li>
   <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
   <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
 </ol>
 <div class="carousel-inner">
   <div class="carousel-item active" width="100">
      {% load static %}
     <img class="d-block w-100" src="{%static 'photos/sports.jpg' %}" alt="First slide" width="200"/>

   </div>
   <div class="carousel-item">
     <img class="d-block w-100" src="{%static 'photos/arts.jpg' %}" alt="Second slide" width="100"/>

   </div>

    <div class="carousel-item">
     <img class="d-block w-100" src="{%static 'photos/news.jpg' %}" alt="Third slide" width="200"/>
   </div>
 </div>
 <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
   <span class="carousel-control-prev-icon" ></span>
 </a>
 <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
   <span class="carousel-control-next-icon" ></span>
        </a>
  </div>
  <br/>
  <hr/>

  {% load static %}
    {%  for posts in all_posts %}
  <div class="border text-center ">
  <h2> {{posts.title }} </h2>
    <a href="udhuhswu"> <img width="300" height="200" src="{%static  posts.img %}" > </a>
    <br/>
    <p> {{posts.p_body}} </p>
    <span> tags:#{{posts.tag}} </span>
  <br/>
      {%  for category in all_categories %}
        {% if posts.cat_name_id == category.id %}

    <span> Category:{{category.category_name}} </span>
       {% endif %}
       {% endfor %}
    </div>
  </br>
    {% endfor %}


</div>
<div class="col-1"> </div>
<div class="col-3" >

  <br/>
  {%  for category in all_categories %}
<div class="w3-sidebar w3-bar-block border " style="width:20%" align="right">
  <div>
    <a href="/socialapp/{{category.id}}/cat_posts" class="w3-bar-item w3-button"> {{category.category_name}}</a>
    <button class="btn btn-primary btn-small">Subscribe</button>
    <button class="btn btn btn-danger btn-small">Unsubscribe</button>
  </div>
  {% endfor %}
  </div>
</div>
</div>

</div>
</body>
<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</html>
