{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
 	<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
</head>
<body>

<!--  start navbar -->
{% include 'pages/navbar.html' %}

<!-- end navbar -->
<div class="container">
		<br>
   	<a href="/socialapp/dashboard"><button class="btn btn-success" style="width: 150px;margin-bottom: 10px">back</button></a>
   	     <a href="/socialapp/newword"><button class="btn btn-info" style="width: 150px;margin-bottom: 10px">Add word</button></a>


             <h3 class="alert alert-danger text-center" style="margin-top: 20px">UNWANTED WORD PAGE</h3>




	  <table class="table table-hover text-center">
	<thead class="thead-dark ">
    <tr>
	<th>word</th>
	<th colspan="2">action</th>

	</tr>
    </thead>
    <tbody>
	{% for wrd in allwords %}
	<tr>

	<td>{{wrd.word}}</td>
	
	
	<td><a href="/socialapp/{{wrd.id}}/worddelete"><button class="btn btn-danger" style="width: 150px;margin-bottom: 10px">delete</button></a>

	<a href="/socialapp/{{wrd.id}}/wordupdate"><button class="btn btn-info" style="width:150px;margin-bottom: 10px">update</button></td>



	

    </tr>

	{% endfor%}

    </tbody>
		</table>


</div>


<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>

