<!doctype html>
<html >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="bootstrap.min.css">
    {% load static %}
        <link rel="stylesheet" href="{%static 'bootstrap.min.css' %}">
    <style>
      .border{
      border:1px solid black;
    }
    .bar{
      background-color:#0059FF;

    }
    </style>
  </head>
<body>
  <nav class="navbar navbar-expand-md  bar">
    {% load static %}
 <div class="navbar-brand" ><a href="/socialapp/home/" > <img src="{% static  'photos/6.jpg' %}" width="40" height="40"/></a>
   <span> News </span> </div>
 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" >
   <span class="navbar-toggler-icon"></span>
</nav>
<br/>


<div  class="row">
    <div class="col-2"> </div>
{% load static %}
<div class=" col-8 text-center">
  {%  for posts in all_category_posts %}

<div class="border">
  <h2> {{posts.title }} </h2>
  <a href="/socialapp/{{posts.id}}/post_page"> <img width="350" height="350" src="{%static  posts.img %}" ></a>

  <br/>
  <p> {{posts.p_body}} </p>
  <span> tags:#{{posts.tag}} </span>
<br/>
  <span> Category:{{cat_name.category_name}} </span>
</div>
<br/>
  {% endfor %}
    </div>
<div class="col-2"> </div>
</div>
  </body>
  <script src="{% static 'jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
</html>
