<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" href="/socialapp/home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        {% if is_admin == 1 %}

        <a class="nav-link" href="/socialapp/dashboard">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/socialapp/allusers">Users</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/socialapp/allposts">Posts</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/socialapp/allcat">Categories</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/socialapp/allwords">Unwanted word</a>
      </li>
       {% endif %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/socialapp/accounts/logout">logout</a>
        </div>
      </li>
     
    </ul>
      <input  id="search" class="form-control "  placeholder="Search" style="width:300px;margin-right: 5px">
      <button id="btn_search" class="btn btn_warning">Search</button>
  </div>
</nav>


<br>
<br>