<!doctype html>
<html >
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      .border{
      border:1px solid black;
      width:60%
    }
    .bar{
      background-color:#0059FF;
      font-display: white;
    }

    </style>
  </head>
<body>
  <nav class="navbar navbar-expand-md  bar">
    {% load static %}
  <div class="navbar-brand" >   <img src="{% static  'photos/6.jpg' %}" width="40" height="40"/><span> News </span> </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" >
   <span class="navbar-toggler-icon"></span>
  </nav>

<br/>
<br/>

  <div align="center" class="row">
    <div class="col-1"> </div>
  {% load static %}
    {%  for post in post_data %}
    <div class="col-10">
    <div class="border text-center">

    <h2> {{post.title }} </h2>
    <img width="350" height="350" src="{%static  post.img %}" >
    <br/>
    <p> {{post.p_body}} </p>
    <span> tags:#{{post.tag}} </span>
  <br/>
  {%  for category in all_categories %}
    {% if post.cat_name_id == category.id %}
    <span> Category:{{category.category_name}} </span>
    {% endif %}
    {% endfor %}
    <br/>

    </div>

    <div class="border text-left">
      <button type="button" class="btn btn-default btn-sm">
       <span class="glyphicon glyphicon-thumbs-up"></span> Like
      </button>
        <label>{{post.like}} </label>
        <button type="button" class="btn btn-default btn-sm">
         <span class="glyphicon glyphicon-thumbs-down"></span> Unlike
       </button>
      <label>{{post.dislike}} </label>
    <input type="text" placeholder="Add Comment"  id="comment_value" width="250px">
    <button type="button" class="btn btn-primary" id="add_comment" post_id="{{post.id}}">Comment</button>
    </div>
    <div class="border text-center">
      <span>Comments</span> 
    </div>
    <div class="border text-left" id="comments_post">
      {% load static %}
      {% for comment in allcomments %}
        {% if comment.id_post_id == post.id %}
          <hr/>
          <div  class="comm">
          {% for user in allusers %}
            {% if user.id == comment.c_user_id %}
              <h3>{{user.username}}</h3>
            {% endif %} 
          {% endfor %}
          <p>{{comment.time}}</p>
          <p>{{comment.c_body}}</p>
          {% if comment.R_check %}
            <p class=" text-center">Reply</p>
            <div class="all_replys" class="border" rep_com_id="{{comment.id}}">
            {% for reply in all_replys %}

              {% if reply.post_id_id == comment.id %}
               
                <div class="rep"  >

                  {% for user in allusers %}
                    {% if user.id == reply.R_user_id %}
                        <h4>{{user.username}}</h4>
                    {% endif %} 
                  {% endfor %}
                  <p>{{reply.time_reply}}</p>
                  <p>{{reply.R_body}}</p>
                </div>
              {% endif %}  
            {% endfor %}
          </div>
          {% else %} 
          <div c="{{comment.id}}">
            <input type="text" placeholder="Add Reply"  class="reply_value" comment_id="{{comment.id}} width="250px">
            <button type="button" class="btn btn-primary" class="add_reply" comment_id="{{comment.id}}">Reply</button>
          </div>
          {% endif %}
          </div>          
        {% endif %}
      {% endfor %}

    </div>
</div>
 {% endfor %}

    </body>
    <script src="{% static 'jquery.min.js'  %}"></script>
    <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        
        $('#add_comment').on('click',function(e){ 
          var url_path=window.location.href;
          var post_id= $(this).attr("post_id");
          var path=url_path.replace("post_page","comment");
          var comment_data =$("#comment_value").val();
          $.ajax({
            type:'POST',
            url: path,
            data:{'comment':comment_data},
            success:function(data){
              if(data.success)
              {  
                $("#comment_value").val(" ");
                $("#comments_post").prepend('<div class="comm"><h3>'+data.user_name+'</h3><p>'+data.time+'</p><p>'+data.comment+'</p> <input type="text" placeholder="Add Reply"  class="reply_value" comment_id="'+data.com_id+'" width="250px"><button type="button" class="btn btn-primary" class="add_reply" comment_id="'+data.com_id+'">Reply</button></div>');
              }  
            }
          });
                                                                                                                                                                
        });
    

        $('button[comment_id]').on('click',function(e){
          var parent=$(this).parent();
          var reply_data =$(this).parent().children().eq(0).val();
          console.log(reply_data); 
          var comment_id=$(this).attr("comment_id");
          console.log(comment_id);
          var url_path=window.location.href;
          var path=url_path.replace("post_page","reply");
          $.ajax({
            type:'POST',
            url: path,
            data:{'reply':reply_data,'comment_id':comment_id},
            success:function(data){
              if(data.success)
              {  
                parent.children().eq(0).val(" ");
                parent.children().remove();
                parent.prepend('<p class="text-center">Reply</p><h4>'+data.user_name+'</h4><p>'+data.time+'</p><p>'+data.reply+'</p>');
              } 
            } 
          });
        });

      });
    </script>
  </html>
