<!doctype html>
<html >
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
      .border{
      border:1px solid black;
      width:60%
    }
    .bar{
      background-color:#0059FF;
      font-display: white;
    }

    </style>
  </head>
<body>
  <nav class="navbar navbar-expand-md  bar">
    {% load static %}
  <div class="navbar-brand" >   <img src="{% static  'photos/6.jpg' %}" width="40" height="40"/><span> News </span> </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" >
   <span class="navbar-toggler-icon"></span>
  </nav>

<br/>
<br/>

  <div align="center" class="row">
    <div class="col-1"> </div>
  {% load static %}
    {%  for post in post_data %}
    <div class="col-10">
    <div class="border text-center">

    <h2> {{post.title }} </h2>
    <img width="350" height="350" src="{%static  post.img %}" >
    <br/>
    <p> {{post.p_body}} </p>
    <span> tags:#{{post.tag}} </span>
  <br/>
  {%  for category in all_categories %}
    {% if post.cat_name_id == category.id %}
    <span> Category:{{category.category_name}} </span>
    {% endif %}
    {% endfor %}
    <br/>

    </div>

    <div class="border text-left">
      <button type="button" class="btn btn-default btn-sm">
       <span class="glyphicon glyphicon-thumbs-up"></span> Like
      </button>
        <label>{{post.like}} </label>
        <button type="button" class="btn btn-default btn-sm">
         <span class="glyphicon glyphicon-thumbs-down"></span> Unlike
       </button>
      <label>{{post.dislike}} </label>
    <input type="text" placeholder="Add Comment"  id="comment_value" width="250px">
    <button type="button" class="btn btn-primary" id="add_comment" post_id="{{post.id}}">Comment</button>
    </div>
    <div class="border text-center">
      <span>Comments</span> 
    </div>
    <div class="border text-left" id="comments_post">
      {% load static %}
      {% for comment in allcomments %}
        {% if comment.id_post_id == post.id %}
          <hr/>
          <div  class="comm">
          {% for user in allusers %}
            {% if user.id == comment.c_user_id %}
              <h3>{{user.username}}</h3>
            {% endif %} 
          {% endfor %}
          <p>{{comment.time}}</p>
          <p>{{comment.c_body}}</p>
          </div>          
        {% endif %}
      {% endfor %}

    </div>
</div>
 {% endfor %}
 

    </body>
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#add_comment').on('click',function(e){
         //var post_id=$(this).attr("post_id");
         //console.log(post_id); 
          var url_path=window.location.href;
          var path=url_path.replace("post_page","comment");
          var comment_data =$("#comment_value").val();
          $.ajax({
            type:'POST',
            url: path,
            data:{'comment':comment_data},
            success:function(data){
              if(data.success)
              {  
                $("#comment_value").val("");
                var div_com=document.createElement("div");
                div_com.setAttribute("class","comm");
                var name_user=document.createElement("h3");
                name_user.innerhtml=data.user_name;
                var time= document.createElement("p");
                time.innerhtml=data.time;
                var text_com=document.createElement("p");
                text_com.innerhtml=comment_data;
                div_com.appendChild(name_user);
                div_com.appendChild(time);
                div_com.appendChild(text_com);
                var main_div=document.getElementById("comments_post");
                main_div.appendChild(div_com);
              }  
            }
          });
                                                                                                                                                                
        });
      });
      
    </script>
  </html>
