<!doctype html>
<html >
  <head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <style>
      .border{
      border:1px solid black;
      width:60%
    }
    </style>
    {% load static %}
    <link rel="stylesheet" href="{%static 'bootstrap.min.css' %}">
  </head>
<body>
    {% include 'pages/navbar.html' %}
<br/>
<br/>
<div class="container">
  <div  class="row">
  {% load static %}
    <div class="col-9">
    {%  for post in post_data %}
    <div class="border text-center">
    <h2> {{post.title }} </h2>
      <img src="{% static ""%}img/{{ post.img }}" class="img-fluid "alt="photo" width="300" height="400">
    <br/>
    <p> {{post.p_body}} </p>
    <span> tags:#{{post.tag}} </span>
  <br/>
  {%  for category in all_categories %}
    {% if post.cat_name_id == category.id %}
    <span> Category:{{category.category_name}} </span>
    {% endif %}
    {% endfor %}
    <br/>
    </div>
    <div class="border text-left">
      <button type="button" class="btn btn-default btn-sm">
       <span class="glyphicon glyphicon-thumbs-up"></span> Like
     </button>
        <label>{{post.like}} </label>
        <button type="button" class="btn btn-default btn-sm">
         <span class="glyphicon glyphicon-thumbs-down"></span> Unlike
       </button>
      <label>{{post.dislike}} </label>
      <div align="right">
    <input type="text" placeholder="Add Comment"  id="comment_value">
    <button type="button" class="btn btn-primary" id="add_comment">Comment</button>
  </div>
    </div>
    <div >Comments </div>

 {% endfor %}
</div>
<div class="col-1"> </div>
 <div class="col-2" >
   <div class="w3-sidebar w3-bar-block border " style="width:20%" align="right">
   <div class="text-center"><h3> Categories </h3> </div>
   <hr/>
   {%  for category in all_categories %}
   <div class='text-center'>
     <a href="/socialapp/{{category.id}}/cat_posts" class="w3-bar-item w3-button"> {{category.category_name}}</a>
     <button  onclick="window.location.href='/socialapp/subscribe/{{category.id}}'" class="btn btn-primary"> Subscribe</button>
    <hr/>
   </div>
   {% endfor %}
        </div>
      </div>
    </div>
</div>
 <script src="{% static 'jquery.min.js' %}"></script>
 <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
 <script src="{%static 'handler.js' %}"> </script>
    </body>
  </html>
